<p id="notice"><%= notice %></p>

<h1>Vinculos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vinculos.each do |vinculo| %>
      <tr>
        <td><%= link_to 'Show', vinculo %></td>
        <td><%= link_to 'Edit', edit_vinculo_path(vinculo) %></td>
        <td><%= link_to 'Destroy', vinculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinculo', new_vinculo_path %>
