<%= form_with(model: mestre, local: true) do |form| %>
  <% if mestre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mestre.errors.count, "error") %> prohibited this mestre from being saved:</h2>

      <ul>
      <% mestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mestre_name %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.password_field :secret, id: :mestre_secret %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
